:root {
  --card-width: 90px;
  --card-height: 150px;
  --border-width: 1px;
  --card-margin: 5px;
  --bg-color: green;
}

body {
  background-color: var(--bg-color);
  font-family: Tahoma, sans-serif;
  user-select: none;
}

.top {
  display: flex;
}

.stock {
  background-color: darkgreen;
}

.stock.empty {
  background-color: var(--bg-color);
}

.card {
  border: var(--border-width) solid black;
  border-radius: 5px;
  height: var(--card-height);
  width: var(--card-width);
  margin: var(--card-margin);
  text-align: right;
}

.talon .card {
  display: none;
}

.talon .card:last-child {
  display: block;
}

.foundations {
  display: flex;
  margin-left: calc(var(--card-width) + 2 * var(--border-width) + 2 * var(--card-margin));
}

.foundations > .card > span {
  font-size: 100;
  display: block;
  padding-top: 15px;
}

.tableau {
  display: flex;
}

.pile {
  width: calc(var(--card-width) + 2 * var(--border-width));
  margin: var(--card-margin);
}

.pile .card,
.talon .card {
  margin: 0;
}

.tableau .card > .card,
.talon .card {
  margin: calc(-1 * var(--border-width));
}

.face-up {
  background-color: white;
}

.face-down {
  background-color: darkgreen;
}

.face-down > div.t {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.♥,
.♦ {
  color: darkred;
}

.♠,
.♣ {
  color: black;
}
