:root {
  --card-width: 90px;
  --card-height: 150px;
  --border-width: 2px;
  --card-margin: 5px;
  --bg-color: green;
}

body {
  background-color: var(--bg-color);
  font-family: Tahoma, sans-serif;
  user-select: none;
}

.top {
  display: flex;
}

.stock {
  background-color: darkgreen;
}

.stock.empty {
  background-color: var(--bg-color);
}

.stock,
.talon,
.foundation,
.card {
  border: var(--border-width) solid black;
  border-radius: 5px;
  height: var(--card-height);
  width: var(--card-width);
  margin: var(--card-margin);
}

.card {
  text-align: right;
  left: 0;
  top: 0;
  position: relative;
}

.talon .card,
.foundation > .card {
  display: none;
  margin: calc(-1 * var(--border-width));
}

.talon .card:last-child,
.foundation > .card:last-child {
  display: block;
}

.foundations {
  display: flex;
  margin-left: calc(var(--card-width) + 2 * var(--border-width) + 2 * var(--card-margin));
}

.foundation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foundation > p {
  display: none;
}

.foundation > p:last-child {
  display: block;
  font-size: 100;
}

.tableau {
  display: flex;
}

.pile {
  width: calc(var(--card-width) + 2 * var(--border-width));
  margin: var(--card-margin);
}

.pile .card {
  margin: 0;
}

.tableau .card > .card {
  margin: calc(-1 * var(--border-width));
}

.card.revealed {
  background-color: white;
}

.card:not(.revealed) {
  background-color: darkgreen;
}

.card:not(.revealed) > div.t {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.♥,
.♦ {
  color: darkred;
}

.♠,
.♣ {
  color: black;
}
